body{
    background-color: rgba(241, 239, 134,0.2);
}

header{
    border-bottom: 1px solid black;
    margin: 0px 50px;
    font-family: 'Bangers', cursive;

}

span{
    display: block;
}

section{
    font-family: 'Baloo Bhaina 2', cursive;
}
  
nav ul li{
    list-style: none;
    line-height: 40px;

}
.categoria{
    text-decoration: none;
    color: rgb(78, 84, 84 );
}

ul li{
    list-style: none;

}

.grid-menu{ 
    display: grid;
    grid-template-columns: 20% 80%;
    margin-top: 25px;
}

.entradas{
    box-sizing: border-box;
    border-left: 1px solid black;
    padding-left:70px ;
}
.articulos{
    margin-top: 30px;
}

h3{
    margin-bottom: -12px;
}
summary{
    margin-top: 0px;
}
.grid-footer{
    display: grid;
    grid-template-columns: 20% 80%;
}
footer{
    margin-top: 37px;
    background-color: gray;
    border-top: 1px solid rgb(95, 95, 93);
}

.contacto ul li a{
    line-height: 30px;
    color: white;
    font-family: 'Baloo Bhaina 2', cursive;
    
}

.contacto ul{
    padding-right: 40px;
}

.img{
    width : 240px;
    height: 143px;

}

.contacto{
    text-align: right;
}

.foto-entrada{
    float: right;
    margin-right: 43px;
    margin-top: 97px;
}

