.cabeza{
    color: rgb(126, 122, 122);
    width: 100%;
    text-align: right;
    
    
}

.link{
    text-decoration: none;
    list-style: none;
    color: rgb(126, 122, 122);
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    

}

ul a li{
    display: inline;
    font-size: 25;
    margin-left: 5px;
    padding: 2px;
}

.iconos{
    text-align: right;
}

section{
    

}

h1{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 60px;
}

h2{
    font-size: 25px;
    font-family: 'Raleway', sans-serif;
}

h3{
    font-family: 'Raleway', sans-serif;
}

section div h3{
    font-family: 'Raleway', sans-serif;
    color: rgb(46, 190, 192);
    font-weight: bold;
}

section div h4 {
    font-family: 'Raleway', sans-serif;
}

section div h4 a{
    font-family: 'Raleway', sans-serif;
    color: grey;
    text-decoration: none;
}

.tituloContacto{

}

.contacto{
    margin-top: -22px;
}